<div class="modal fade" id="profile" role="dialog">

    <!-- Modal content -->
    <div class="model-header">
        <div id="car_name"></div><div></div>
    </div>
    <div class="modal-content">
        <div class="col-xs-12">
            <div class="col-xs-5">
                <div class="info">Информация о водителе</div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <img id="driver_image" src="">
                    </div>
                    <div class="col-xs-6 lines">
                        <div id="surname" class="name"></div>
                        <div id="name" class="name"></div>
                        <div id="middle_name" class="name"></div>
                        <div id="experience"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="book">Книга отзывов</div>
                    </div>
                    <div class="col-xs-6 stars">
                        <span class="stars-yellow" id="stars-yellow">

                        </span>
                        <span class="stars-white" id="stars-white">

                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <img id="car_outside_image" src="">
                    </div>
                    <div class="col-xs-6">
                        <img id="car_inside_image" src="">
                    </div>
                </div>
            </div>
            <div class="col-xs-7" style="padding-left: 30px;">
                <div class="info">Информация об автомобиле</div>
                <br>
                <div class="row">
                    <div class="col-xs-6 lines">
                        <div>Класс автомобиля </div>
                        <div>Государственный номер</div>
                        <div>Год выпуска т.с</div>
                        <div>Количество мест </div>
                        <div>Доп.багажник на крыше</div>
                        <div>Наличие детского кресла</div>
                        <div>Оплата банковскими картами</div>
                        <div>Отчетные документы</div>
                    </div>
                    <div class="col-xs-6 lines">
                        <div id="car_class">C</div>
                        <div id="car_number">Х777ХХ77</div>
                        <div id="car_year">2014</div>
                        <div id="car_passengers">4</div>
                        <div id="car_baggage">Да</div>
                        <div id="car_baby_chair">Да</div>
                        <div id="car_bank_card_payment">Да</div>
                        <div id="car_documents">Да</div>
                    </div>
                </div>
                <br>
                <div class="row buttons">
                    <div class="button" id="town_center" zone_id="2">Центр</div>
                    <div class="button" id="town" zone_id="1">Город</div>
                    <div class="button" id="periferia" zone_id="4">Периферия</div>
                    <div class="button" id="km_price" zone_id="3">Цена за км</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--        <p>Some text in the Modal..</p>-->
    </div>
</div>
<div class="modal_ask">
    <div id="review">
        Вы уверены, что хотите заказать эту поездку?
    </div>
    <br>
    <!--    <div class="definition">-->
    <!--        Вы заказали Renault Logan <br> Такси Сатурн поездка за <span class="dialog_price">1000 руб./чел.</span>-->
    <!--    </div>-->
    <!--    <div class="yep">-->
    <!--        Да, сделать заказ-->
    <!--    </div>-->
    <div class="nope">
        Закрыть
    </div>
    <div class="mini-close"></div>
</div></div>