<div>
	<nav></nav>
	<div class="page-container" style="min-height:-83px">
		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content sidebar-user" style="display: block;">
							<div class="media">
								<a class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">{{user.getUserName()}}</span>
									<div class="text-size-mini text-muted">
										<i class="fa fa-circle text-success"></i>Online
									</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="category-content no-padding">
							<ul class="navigation navigation-main" *ngIf="user.getUserRole() == 'admin'">

								<!-- Main -->
								<!-- <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="" data-original-title="Main pages"></i></li> -->
								<li [ngClass]="getUrlClass('users')"><a [routerLink]="['/users']"><i class="icon-user"></i> <span>Пользователи</span></a></li>
								<li [ngClass]="getUrlClass('parking')"><a [routerLink]="['/parking']"><i class="">P</i> <span>Стоянка</span></a></li>
                <li>
                  <a (click)="razvernutSprav()" class="has-ul legitRipple"><i class="icon-stack2"></i> <span>Справочники</span></a>
                  <ul class="hidden-ul" id="razvernutSprav" style="display: none">
                    <li [ngClass]="getUrlClass('drivers')"><a [routerLink]="['/drivers']"><i class="icon-vcard"></i> <span>Водители</span></a></li>
                    <li [ngClass]="getUrlClass('cars')"><a [routerLink]="['/cars']"><i class="icon-car"></i> <span>Автомобили</span></a></li>
                    <li [ngClass]="getUrlClass('car_brands')"><a [routerLink]="['/car_brands']"><i class="icon-circle"></i> <span>Марки авто</span></a></li>
                    <li [ngClass]="getUrlClass('brands')"><a [routerLink]="['/brands']"><i class="icon-apple2"></i> <span>Бренды</span></a></li>
                    <li [ngClass]="getUrlClass('client_types')"><a [routerLink]="['/client_types']"><i class="">T</i> <span>Типы клиентов</span></a></li>
                    <li [ngClass]="getUrlClass('tariffs')"><a [routerLink]="['/tariffs']"><i class="icon-coin-dollar"></i> <span>Групповые тарифы</span></a></li>
                  </ul>
                </li>
								<li [ngClass]="getUrlClass('map_zones')"><a [routerLink]="['/map_zones']"><i class="">Z</i> <span>Зоны карт</span></a></li>
                <li>
                  <a (click)="razvernutIli()" class="has-ul legitRipple"><i class="icon-stack2"></i> <span>Отчеты</span></a>
                  <ul class="hidden-ul" id="razvernut" style="display: none">
                    <li [ngClass]="getUrlClass('actions_user')"><a [routerLink]="['/actions_user']"><i class="icon-stack-text"></i> <span>Все отчеты</span></a></li>
                    <li [ngClass]="getUrlClass('actions/taxi_ordered')"><a [routerLink]="['/actions/taxi_ordered']"><i class="icon-stack-text"></i> <span>Часто заказываемые такси</span></a></li>
                    <li [ngClass]="getUrlClass('actions/car_ordered_by_user')"><a [routerLink]="['/actions/car_ordered_by_user']"><i class="icon-stack-text"></i> <span>Заказы по менеджерам</span></a></li>
                  </ul>
                </li>
                <li>
                  <a (click)="razvernutMob()" class="has-ul legitRipple"><i class="icon-stack2"></i> <span>Моб.приложение</span></a>
                  <ul class="hidden-ul" id="razvernutMob" style="display: none">
                    <li [ngClass]="getUrlClass('mobile/phone_register_requests')"><a [routerLink]="['/mobile/phone_register_requests']"><i class="icon-stack-text"></i> <span>Активация моб. приложений</span></a></li>
                    <li [ngClass]="getUrlClass('mobile/auctions')"><a [routerLink]="['/mobile/auctions']"><i class="icon-stack-text"></i> <span>Аукционы</span></a></li>
                  </ul>
                </li>


								<li [ngClass]="getUrlClass('options')"><a [routerLink]="['/options']"><i class="icon-cog3"></i> <span>Опции</span></a></li>
							</ul>
							<ul class="navigation navigation-main navigation-accordion" *ngIf="user.getUserRole() != 'admin'">
								<li [ngClass]="getUrlClass('parking')"><a [routerLink]="['/parking']"><i class="icon-car"></i> <span>Стоянка</span></a></li>
								<li [ngClass]="getUrlClass('orders')"><a [routerLink]="['/orders']"><i class="icon-car"></i> <span>Заказы</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->

			<!-- Main content -->
			<router-outlet></router-outlet>
			<!-- /main content -->
		</div>
		<!-- /page content -->

	</div>
</div>
<!-- <div *ngIf="!user.getUserName()">
	<router-outlet></router-outlet>
</div> -->
