<div class="row">
  <div class="col-xs-3">
    <div class="sidebar sidebar-secondary sidebar-default">
      <div class="sidebar-content">

        <!-- Sub navigation -->
        <div class="sidebar-category">
          <div class="category-content no-padding">
            <ul class="navigation navigation-alt navigation-accordion">
              <li><a [routerLink]="['/cars/'+id+'/edit']"><i class="icon-three-bars"></i>Профиль</a></li>
              <li><a [routerLink]="['/cars/'+id+'/drivers']"><i class="icon-three-bars"></i>Водители</a></li>
              <li><a [routerLink]="['/cars/'+id+'/images']"><i class="icon-three-bars"></i>Фотографии</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
    <router-outlet></router-outlet>
  </div>
</div>