<div id="ticket" *ngIf="printModel">
    <table style="text-align: center;" class="">
        <tr>
            <td colspan="2" style="font-size:25pt" class=" border-black">
                Талон № <strong>{{printModel['id']}}</strong><br>
                на посадку в такси
            </td>
        </tr>
        <tr >
            <td colspan="2" class=" border-black">
                <table style="text-align: center;" width="100%">
    <!--            <strong>-->
                    <tr style="font-family: Verdana; font-size: 20pt">
                        <td>Номер машины:</td>
                    </tr>
                    <tr style="font-family: Verdana; font-size: 35pt">
                        <td>{{printModel['car']['number']}}</td>
                    </tr>
                    <tr style="font-family: Arial; font-size: 25pt">
                        <td>
                            {{printModel['car']['car_brand']['name']}}
                            {{printModel['car']['model']}}
                        </td>
                    </tr>
                    <tr style="font-family: Arial; font-size: 25pt">
                        <td>{{printModel['car']['color']}}</td>
                    </tr>
    <!--            </strong>-->
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-family: Verdana; font-size: 14pt" class=" border-black">
                Бренд:
            </td>
            <td style="font-family: Verdana; font-size: 14pt" class=" border-black">
                {{printModel['brand'] ? printModel['brand']['name'] : 'Нет'}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class=" border-black">
                <strong style="font-family: Verdana; font-size: 20pt">тел. водителя: </strong><br>
                <p style="font-family: Verdana; font-size: 25pt">{{printModel['driver']['phone_number']}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="for-dashed border-black">
                <strong style="font-family: Verdana; font-size: 20pt">Цены:</strong><br>
                    <!-- <p *ngIf="printModel['use_custom_tariff']" style="text-decoration:underline; font-family: Calibri; font-size: 20pt" >
                        {{printModel['custom_tariff']}}
                    </p> -->
                    <p *ngFor="let tariff of tariffs.getTariffsArray()">
                    <!-- {{tariffs.tariff_names[tariff[0]]} : tariff[0]} -->
                    {{tariff.text+' '+tariff.item}}
                    </p>
                    <!-- <p *ngIf="!printModel['use_custom_tariff']" [ngClass]="{'decoration': zone == 1, 'price-style' : true}">Центр - {{printModel['town_center']}}<br>
                    </p>
                    <p *ngIf="!printModel['use_custom_tariff']" [ngClass]="{'decoration': zone == 2, 'price-style' : true}">
                        Город - {{printModel['town']}}<br>
                    </p>
                    <p *ngIf="!printModel['use_custom_tariff']" [ngClass]="{'decoration': zone == 3, 'price-style' : true}">Периферия - {{printModel['periphery']}}<br>
                    </p>
                    <p *ngIf="!printModel['use_custom_tariff']" [ngClass]="{'decoration': zone == 4, 'price-style' : true}">межгород - {{printModel['km_price']}}
                    </p> -->
            </td>
        </tr>
        <tr>
            <td colspan="2" class=" border-black">
                <strong style="font-family: Calibri; font-size: 20pt">Для обратной связи:</strong><br>
                <p style="font-family: Verdana; font-size: 20pt">89871458288</p>
                <p style="font-family: Verdana; font-size: 20pt">airavalon2007@yandex.ru</p>
            </td>
        </tr>
        <tr>
            <td style="font-family: Verdana; font-size: 20pt" width="50%" class=" border-black">
                Дата, <br>
                время
            </td>
            <td style="font-family: Verdana; font-size: 20pt" width="50%" class=" border-black">
                {{printModel['date']}}<br>
                {{printModel['time']}}
            </td>
        </tr>
    </table>
</div>