<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" enctype="multipart/form-data" >
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Добавить автомобиль<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
    </div>

    <div class="panel-body">

      <div [ngClass]="hasError('number')" class="form-group">
        <label class="col-lg-3 control-label">Номер:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.number" name="number">
          <span *ngIf="errors['number']" class="help-block">{{errors['number'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('brand_id')" class="form-group">
        <label class="col-lg-3 control-label">Бренд такси:</label>
        <div class="col-lg-9">
          <select name="repeatSelect" id="repeatSelect" class="form-control"  [(ngModel)]="model.brand_id" >
            <option *ngFor="let item of taxi_brands;" [value]="item['id']"> {{item.name}} </option>
          </select>
          <span *ngIf="errors['brand_id']" class="help-block">{{errors['brand_id'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('client_type_id')" class="form-group">
        <label class="col-lg-3 control-label">Тип клиента:</label>
        <div class="col-lg-9">
          <select name="repeatSelect" id="repeatSelect1" class="form-control"  [(ngModel)]="model.client_type_id" >
            <option *ngFor="let item of client_types;" [value]="item['id']"> {{item.name}} </option>
          </select>
          <span *ngIf="errors['client_type_id']" class="help-block">{{errors['client_type_id'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('file')" class="form-group">
        <label class="col-lg-3 control-label">Фото:</label>
        <div class="col-lg-9">
          <input type="file" class="form-control" name="fileInput" (change)="onFileChange($event)">
          <img src="#" id="car_img" [ngClass]="{'hidden':!model.image}">
          <span *ngIf="errors['file']" class="help-block">{{errors['file'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('car_brand_id')" class="form-group">
        <label class="col-lg-3 control-label">Марка:</label>
        <div class="col-lg-9">
          <select name="repeatSelect" class="form-control"  [(ngModel)]="model.car_brand_id" >
            <option *ngFor="let item of car_brands;" [value]="item['id']"> {{item.name}} </option>
          </select>
          <span *ngIf="errors['car_brand_id']" class="help-block">{{errors['car_brand_id'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('model')" class="form-group">
        <label class="col-lg-3 control-label">Модель:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.model" name="model">
          <span *ngIf="errors['model']" class="help-block">{{errors['model'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('class_id')" class="form-group">
        <label class="col-lg-3 control-label">Класс:</label>
        <div class="col-lg-9">
          <select name="repeatSelect" class="form-control"  [(ngModel)]="model.class_id" >
            <option *ngFor="let item of car_classes;" [value]="item['id']"> {{item.name}} </option>
          </select>
          <span *ngIf="errors['class_id']" class="help-block">{{errors['class_id'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('year')" class="form-group">
        <label class="col-lg-3 control-label">Год:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.year" name="year">
          <span *ngIf="errors['year']" class="help-block">{{errors['year'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('color')" class="form-group">
        <label class="col-lg-3 control-label">Цвет:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.color" name="color">
          <span *ngIf="errors['color']" class="help-block">{{errors['color'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('number_of_passengers')" class="form-group">
        <label class="col-lg-3 control-label">Количество пассажирских мест:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.number_of_passengers" name="number_of_passengers">
          <span *ngIf="errors['number_of_passengers']" class="help-block">{{errors['number_of_passengers'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('baggage_count')" class="form-group">
        <label class="col-lg-3 control-label">Количество багажных мест:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.baggage_count" name="baggage_count">
          <span *ngIf="errors['baggage_count']" class="help-block">{{errors['baggage_count'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('report_documents')" class="form-group">
        <label class="col-lg-3 control-label">Отчетные документы:</label>
        <div class="col-lg-9">
          <label> <input type="radio" [value]="0" id="report_documents1" name="report_documents" [(ngModel)]="model.report_documents">  Нет </label>
          <label> <input type="radio" [value]="1" id="report_documents2" name="report_documents" [(ngModel)]="model.report_documents">  Да </label>
          <span *ngIf="errors['report_documents']" class="help-block">{{errors['report_documents'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('bank_card_payment')" class="form-group">
        <label class="col-lg-3 control-label">Оплата банковской картой:</label>
        <div class="col-lg-9">
          <label for="bank_card_payment"><input type="radio" [value]="0" id="bank_card_payment"  name="bank_card_payment" [(ngModel)]="model.bank_card_payment"> Нет </label>
          <label for="bank_card_payment1"><input type="radio" [value]="1" id="bank_card_payment1" name="bank_card_payment" [(ngModel)]="model.bank_card_payment">  Да </label>
          <span *ngIf="errors['bank_card_payment']" class="help-block">{{errors['bank_card_payment'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('external_baggage')" class="form-group">
        <label class="col-lg-3 control-label">Наличие внешнего багажника:</label>
        <div class="col-lg-9">
          <label for="external_baggage"><input type="radio" [value]="0" id="external_baggage" name="external_baggage" [(ngModel)]="model.external_baggage">  Нет </label>
          <label for="external_baggage1"><input type="radio" [value]="1" id="external_baggage1" name="external_baggage" [(ngModel)]="model.external_baggage">  Да </label>
          <span *ngIf="errors['external_baggage']" class="help-block">{{errors['external_baggage'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('license')" class="form-group">
        <label class="col-lg-3 control-label">Лицензия:</label>
        <div class="col-lg-9">
          <label for="license"><input type="radio" [value]="0" id="license" name="license" [(ngModel)]="model.license">  Нет </label>
          <label for="license1"><input type="radio" [value]="1" id="license1" name="license" [(ngModel)]="model.license">  Да </label>
          <span *ngIf="errors['license']" class="help-block">{{errors['license'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('license_requisites')" class="form-group">
        <label class="col-lg-3 control-label">Реквизиты лицензии:</label>
        <div class="col-lg-9">
          <textarea type="text" class="form-control" [(ngModel)]="model.license_requisites" name="license_requisites"></textarea>
          <span *ngIf="errors['license_requisites']" class="help-block">{{errors['license_requisites'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('baby_chair')" class="form-group">
        <label class="col-lg-3 control-label">Детское кресло:</label>
        <div class="col-lg-9">
          <label for="baby_chair"><input type="radio" [value]="0" id="baby_chair" name="baby_chair" [(ngModel)]="model.baby_chair">  Нет </label>
          <label for="baby_chair1"><input type="radio" [value]="1" id="baby_chair1" name="baby_chair" [(ngModel)]="model.baby_chair">  Да </label>
          <span *ngIf="errors['baby_chair']" class="help-block">{{errors['baby_chair'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('conditioner')" class="form-group">
        <label class="col-lg-3 control-label">Кондиционер:</label>
        <div class="col-lg-9">
          <label for="conditioner"><input type="radio" [value]="0" id="conditioner" name="conditioner" [(ngModel)]="model.conditioner">  Нет </label>
          <label for="conditioner1"><input type="radio" [value]="1" id="conditioner1" name="conditioner" [(ngModel)]="model.conditioner">  Да </label>
          <span *ngIf="errors['conditioner']" class="help-block">{{errors['conditioner'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('use_group_tariff')" class="form-group">
        <label class="col-lg-3 control-label">Использовать групповые тарифы?</label>
        <div class="col-lg-9">
          <label for="use_group_tariff"><input type="radio" [value]="0" id="use_group_tariff" name="use_group_tariff" [(ngModel)]="model.use_group_tariff">  Нет </label>
          <label for="use_group_tariff1"><input type="radio" [value]="1" id="use_group_tariff1" name="use_group_tariff" [(ngModel)]="model.use_group_tariff">  Да </label>
          <span *ngIf="errors['use_group_tariff']" class="help-block">{{errors['use_group_tariff'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('group_tariff_id')" class="form-group">
        <label class="col-lg-3 control-label">Групповые тарифы:</label>
        <div class="col-lg-9">
          <select name="repeatSelect" class="form-control"  [(ngModel)]="model.group_tariff_id" >
            <option [value]=""> </option>
            <option *ngFor="let item of tariffs;" [value]="item['id']"> {{item.name}} </option>
          </select>
          <span *ngIf="errors['group_tariff_id']" class="help-block">{{errors['group_tariff_id'][0]}}</span>
        </div>
      </div>

      <div class="text-left">
        <button type="submit" [ripple] class="btn btn-raised btn-success">Сохранить <i class="icon-plus22 position-left"></i></button>
      </div>
    </div>
  </div>
</form>