<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Опции<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        </div>

        <div class="panel-body">

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold"><b>Терминал</b></legend>

                <div [ngClass]="hasError('terminal_timeout')" class="form-group">
                    <label class="col-lg-3 control-label">Таймаут перезагрузки (сек):</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" [(ngModel)]="model.terminal_timeout"
                               name="terminal_timeout">
                        <span *ngIf="errors['terminal_timeout']"
                              class="help-block">{{errors['terminal_timeout'][0]}}</span>
                    </div>
                </div>
            </fieldset>
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold"><b>Поля для талона/чека</b></legend>

                <div [ngClass]="hasError('email_feedback')" class="form-group">
                    <label class="col-lg-3 control-label">E-mail для обратноя связи:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" [(ngModel)]="model.email_feedback"
                               name="email_feedback">
                        <span *ngIf="errors['email_feedback']" class="help-block">{{errors['email_feedback'][0]}}</span>
                    </div>
                </div>

                <div [ngClass]="hasError('phone_feedback')" class="form-group">
                    <label class="col-lg-3 control-label">Телефон для обратной связи</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" [(ngModel)]="model.phone_feedback"
                               name="phone_feedback">
                        <span *ngIf="errors['phone_feedback']" class="help-block">{{errors['phone_feedback'][0]}}</span>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold"><b>Смс сервис</b></legend>

                <div [ngClass]="hasError('sms_login')" class="form-group">
                    <label class="col-lg-3 control-label">Логин</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" [(ngModel)]="model.sms_login" name="sms_login">
                        <span *ngIf="errors['sms_login']" class="help-block">{{errors['sms_login'][0]}}</span>
                    </div>
                </div>

                <div [ngClass]="hasError('sms_password')" class="form-group">
                    <label class="col-lg-3 control-label">Пароль</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" [(ngModel)]="model.sms_password" name="sms_password">
                        <span *ngIf="errors['sms_password']" class="help-block">{{errors['sms_password'][0]}}</span>
                    </div>
                </div>

            </fieldset>


            <div *ngIf="succeed == true">
                <div class="alert alert-success">
                    Данные сохранены
                </div>
            </div>

            <div *ngIf="succeed == false">
                <div class="alert alert-danger">
                    Не удалось сохранить данные, проверьте правильность введенной формы
                </div>
            </div>

            <div class="text-left">
                <button type="submit" [ripple] class="btn btn-raised btn-primary">Сохранить <i
                        class="icon-arrow-right14 position-left"></i></button>
            </div>
        </div>
    </div>
</form>