<div class="panel panel-flat">
	<div class="panel-heading"></div>
	<div class="panel-body">
		<div class="container-fluid">
			<div id="profile" class="modal-open modal-wrapper" role="dialog">
			  <div class="" role="document" *ngIf="model">
			    <div class="modal-content">
			      <div class="modal-header">
			        <div id="car_name">{{model['car']['car_brand']['name']}} {{model['car']['model']}} {{model['car']['number']}}</div><button type="button" class="close close-custom" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			        <div class="row">
			            <div class="col-xs-5">
			                <div class="info">Информация о водителе</div>
			                <br>
			                <div class="row">
			                    <div class="col-xs-6">
			                        <img id="driver_image" [src]="model['driver'] ? model['driver'] .getImagePath() : ''">
			                    </div>
			                    <div class="col-xs-6 lines">
			                        <div class="name">{{model['driver']['surname']}}</div>
			                        <div class="name">{{model['driver']['first_name']}}</div>
			                        <div class="name">{{model['driver']['patronymic']}}</div>
			                        <div id="experience">Стаж за рулем - {{model['driver']['experience']}}</div>
			                        <div class="name">Телефон - {{model['driver']['phone_number']}}</div>
			                    </div>
			                </div>
			                <br>
			                <div class="row">
			                    <div class="col-xs-6">
			                        <div class="book" (click)="modalReviewsText()">Книга отзывов</div>
			                    </div>
			                    <div class="col-xs-6 stars">
			                        <span class="stars-yellow" id="stars-yellow" [innerHtml]="getStars(model['driver']['raiting']) | safeHtml"></span>
			                        <span class="stars-white" id="stars-white" [innerHtml]="getWhiteStars(model['driver']['raiting']) | safeHtml"></span>
			                    </div>
			                </div>
			                <br>
			                <div class="row">
			                    <div class="col-xs-6">
			                        <img id="car_outside_image" [src]="model['car_images'][0] ? model['car_images'][0].getImagePath() : ''">
			                    </div>
			                    <div class="col-xs-6">
			                        <img id="car_inside_image" [src]="model['car_images'][1] ? model['car_images'][1].getImagePath() : ''">
			                    </div>
			                </div>
			            </div>
			            <div class="col-xs-7" style="padding-left: 30px;">
			                <div class="info">Информация об автомобиле</div>
			                <br>
			                <div class="row">
			                    <div class="col-xs-6 lines">
			                        <div>Класс автомобиля </div>
			                        <div>Государственный номер</div>
			                        <div>Год выпуска т.с</div>
			                        <div>Количество мест </div>
			                        <div>Доп.багажник на крыше</div>
			                        <div>Наличие детского кресла</div>
			                        <div>Оплата банковскими картами</div>
			                        <div>Отчетные документы</div>
			                    </div>
			                    <div class="col-xs-6 lines">
			                        <div id="car_class">{{model['car']['class'] ? model['car']['class']['name'] : 'Не указан'}}</div>
			                        <div id="car_number">{{model['car']['number'] ? model['car']['number'] : 'Не указан'}}</div>
			                        <div id="car_year">{{model['car']['year'] ? model['car']['year'] : 'Не указан'}}</div>
			                        
			                        <div id="car_passengers">{{model['car']['number_of_passengers'] ? model['car']['number_of_passengers'] : 'Не указан'}}</div>
			                        <div id="car_baggage">{{getYesOrNo(model['car']['external_baggage'])}}</div>
			                        <div id="car_baby_chair">{{getYesOrNo(model['car']['baby_chair'])}}</div>
			                        <div id="car_bank_card_payment">{{getYesOrNo(model['car']['bank_card_payment'])}}</div>
			                        <div id="car_documents">{{getYesOrNo(model['car']['report_documents'])}}</div>
			                    </div>
			                </div>
			                <br>
			                <div class="row buttons">
			                	<div>
			                		<h3>Печать талона</h3>
			                	</div>
			                    <ng-container *ngIf="model['type_tariff_use'] == 1 || !model['type_tariff_use']">
			                        <ng-container *ngIf="model['use_custom_tariff']">
			                            <div class="button" (click)="print(model, 'custom_tariff')">{{model['custom_tariff']}}</div>
			                        </ng-container>
			                        <ng-container *ngIf="!model['use_custom_tariff']">
			                            <div class="button" (click)="print(model, 'town_center')" *ngIf="model['town_center']">Уфа(центр) - {{model['town_center']}}</div>
			                            <div class="button" (click)="print(model, 'town')" *ngIf="model['town']">Уфа - {{model['town']}}</div>
			                            <div class="button" (click)="print(model, 'periphery')" *ngIf="model['periphery']">Периферия - {{model['periphery']}}</div>
			                            <div class="button" (click)="print(model, 'km_price')" *ngIf="model['km_price']">Цена за км - {{model['km_price']}}</div>
			                        </ng-container>
			                    </ng-container>
			                    <ng-container *ngIf="model['type_tariff_use'] == 2">
			                        <div class="button" (click)="print(model, 'town_km_price')" *ngIf="model['town_km_price']">Цена за км(город) - {{model['town_km_price']}}</div>
			                        <div class="button" (click)="print(model, 'countryside_km_price')" *ngIf="model['countryside_km_price']">Цена за км(периферия) - {{model['countryside_km_price']}}</div>
			                    </ng-container>
			                </div>
			                <div class="row buttons">
			                	<div>
			                		<h3>Отправка смс</h3>
			                	</div>
			                    <ng-container *ngIf="model['type_tariff_use'] == 1 || !model['type_tariff_use']">
			                        <ng-container *ngIf="model['use_custom_tariff']">
			                            <div class="button" (click)="sendSms(model, 'custom_tariff')">{{model['custom_tariff']}}</div>
			                        </ng-container>
			                        <ng-container *ngIf="!model['use_custom_tariff']">
			                            <div class="button" (click)="sendSms(model, 'town_center')" *ngIf="model['town_center']">Уфа(центр) - {{model['town_center']}}</div>
			                            <div class="button" (click)="sendSms(model, 'town')" *ngIf="model['town']">Уфа - {{model['town']}}</div>
			                            <div class="button" (click)="sendSms(model, 'periphery')" *ngIf="model['periphery']">Периферия - {{model['periphery']}}</div>
			                            <div class="button" (click)="sendSms(model, 'km_price')" *ngIf="model['km_price']">Цена за км - {{model['km_price']}}</div>
			                        </ng-container>
			                    </ng-container>
			                    <ng-container *ngIf="model['type_tariff_use'] == 2">
			                        <div class="button" (click)="sendSms(model, 'town_km_price')" *ngIf="model['town_km_price']">Цена за км(город) - {{model['town_km_price']}}</div>
			                        <div class="button" (click)="sendSms(model, 'countryside_km_price')" *ngIf="model['countryside_km_price']">Цена за км(периферия) - {{model['countryside_km_price']}}</div>
			                    </ng-container>
			                </div>
			                <div class="row buttons">
			                	<div>
			                		<h3>Действия</h3>
			                	</div>
			                	<div>
			                		<div class="button" (click)="addToParking(model)">Вернуть на парковку</div>
			                	</div>
			                </div>
			            </div>
			        </div>
			    </div>
			    </div>
			  </div>
			</div>

			<div class="modal" id="modal_ask" role="dialog" style="top: 30%;" *ngIf="model">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-body" style="
			            padding: 60px;
			        ">
			        <p>{{model['driver']['reviews_text'] ? model['driver']['reviews_text'] : "Ничего не найдено"}}</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="nope" data-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>