/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.datatable-scroll {
    overflow-y: scroll;
    max-height: 400px;
}
.alert-car-ordered {
    font-size: xx-large;
    text-align: center;
}

.gmnoprint, .gm-style-cc {
    display: none;
}

#first_step_next_button {
    top: 580px;
    position: inherit;
    margin-left: -10px;
    margin-right: -10px;
}

#map > div > div > div.gmnoprint.gm-style-cc {
    background: none !important;
    display: none;
}

#map > div > div > div:nth-child(3) {
    display: none;
}

#map {
    position: static;
    min-width: 300px;
    height: 400px;
    width: 100%;
    /*overflow: visible;*/
}

.no-border {
    border:none !important;
}

.button_next_large {
    height:150px;
    font-size: x-large;
}

.button_next {
    width: 400px;
    height: 60px;
    font-size: large;
}

.table-price {
    font-size: x-large;
}

.form-input {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 242, 204, 0.7);
    font-weight: 600;
    position: inherit;
    top: 130px;
    width: 100%;
}

.car_full_name {
    font-size: x-large;
}

.center-price {
    z-index: 3;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-input input {
    border: 2px solid black;
    background-color: white;
}

.form-input .has-error input {
    border: 2px solid #D84315;
}

.form-input .form-control {
    height: 100%;
}

.form-checkboxes {
    font-size: x-large;
    color: black;
    text-align: left;
}

.form-checkboxes input {
    height: 20px;
    padding: 0;
    width: 20px;
    position: relative;
}

.form-checkboxes label {
    height: 25px;
    margin: 0px;
}

.form-map-header {
    text-align: left;
    color: white;
    font-size: 35px;
}

.form-map-bottom {
    right: 0;
    /*text-align:right;*/
    width: 500px;
    color: yellow;
    top: 470px;
    position: inherit;
}

.form-map-container-z-index {
    margin-left: 5%;
    width: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    margin-top: 150px;
    text-align: center;
}

.item-opacity {
    opacity: 0.75;
}

/*.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}*/
/*
.address {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

.address:focus {
    border-color: #4d90fe;
}*/

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

/*.map {

    height: 100%;
}*/

#address_to {
    text-indent: 20px;
}

.address_input {
    height: 50px;
    font-size: x-large;
}

.terminal-radio {
    font-size: x-large;
}

.terminal-radio input {
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
}

.panel-body-error {

}

div.row.form-checkboxes input {
    margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 40px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius:20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0066ff;
    max-height:40px;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #003380;
}
