<form (ngSubmit)="onSubmit()" [formGroup]="model" class="form-horizontal" [ngClass]="{'hidden' : totalCount == 0}">
    <div class="container-fluid">
        <div class="panel panel-white">
            <div class="row" id="terminal-steps">

                <!--<div class="col-md-6">-->

                <!-- Vertical form -->

                <h3>
                    Выбор адреса
                </h3>
                <section>

                    <div class="panel panel-flat">
                        <div class="panel-heading">

                        </div>

                        <div class="panel-body">

                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <!-- <div class="form-group">
                                        </div> -->


                                        <div class="form-group form-map-container-z-index">
                                            <div class="row">
                                                <h3 class="panel-title form-map-header">
                                                  Перед терминалом готовы к поездке такси : {{totalCount}}
                                                    <a class="heading-elements-toggle"><i
                                                        class="icon-more"></i>Перед терминалом готовы к поездке такси : {{totalCount}}</a>
                                                </h3>

                                            </div>
                                            <div class="row form-input">
                                                <div class=" control-label address_input">Введите адрес или название
                                                    места назначения:
                                                </div>
                                                <div class="form-control no-border" [ngClass]="hasError('address')">
                                                    <input id="address_to" (click)="echoModel()" placeholder=""
                                                           formControlName="address" class="form-control address_input"
                                                           type="text">
                                                    <span *ngIf="errors['address']" class="help-block">{{errors['address'][0]}}</span>
                                                </div>
                                                <div class="row form-checkboxes">
                                                    <div class="col-xs-2">
                                                        Отметьте обязательные опции
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            <div>
                                                                <div class="checkbox-inline">
                                                                    <label><input type="checkbox"
                                                                                  formControlName="report_documents">Нужны
                                                                        отчётные документы</label>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="checkbox-inline">
                                                                    <label><input type="checkbox"
                                                                                  formControlName="baby_chair">Нужно
                                                                        детское сидение</label>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="checkbox-inline">
                                                                    <label><input type="checkbox"
                                                                                  formControlName="external_baggage">Нужен
                                                                        негабаритный багажник</label>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="checkbox-inline">
                                                                    <label><input type="checkbox"
                                                                                  formControlName="bank_card_payment">Нужна
                                                                        оплата банковскими картами</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <!--<div id="first_step_next_button" class="center-div">-->
                                                            <button type="button" class="btn btn-lg btn-success button_next_large"
                                                                    (click)="goToStep(2)">
                                                                <p>Далее <br>(маршрут на карте)</p>
                                                            </button>
                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>

                                        <div class="placeholder">
                                            <a><img [src]="image_url" style="width:100%;max-height: 800px;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <!-- <button type="button" class="btn btn-lg btn-primary" (click)="goToPreviousStep()">Назад</button> -->

                            </div>
                        </div>
                    </div>
                </section>

                <h3>
                    Подтверждение маршрута
                </h3>
                <section>
                    <div class="panel panel-flat">
                        <div class="panel-heading"></div>
                        <div class="alert alert-danger" *ngIf="car_not_found">
                            К сожалению не удалось найти автомобиль по заданным параметрам
                        </div>
                        <div [hidden]="car_not_found">
                            <div class="center-price">
                                <div class="text-center">
                                    <!-- <button type="button" class="btn btn-primary" id="show_map_route">Проложить маршрут</button> -->
                                    <button type="button" *ngIf="length_text" class="btn btn-default">{{length_text}}
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="panel-body"> -->
                            <div id="map" class="map"></div>
                        </div>

                        <!-- </div> -->
                        <div class="text-center">
                            <button type="button" class="btn btn-lg btn-primary" (click)="goToPreviousStep()">Назад
                            </button>
                            <button type="button" class="btn btn-lg btn-success" (click)="goToStep(3)"  *ngIf="!car_not_found">Далее</button>
                        </div>
                    </div>
                </section>

                <h3>
                    Выбор автомобиля
                </h3>
                <section>
                    <div class="panel panel-flat" *ngIf="cars.length">
                        <div class="panel-heading">
                            <h3>Список автомобилей</h3>
                        </div>
                        <div class="dataTables_wrapper no-footer">
                            <div class="datatable-scroll">
                                <table class="table datatable-show-all dataTable no-footer" role="grid">
                                    <thead>
                                    <tr>
                                        <th>Автомобиль</th>
                                        <th>Цена</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let row of cars">
                                        <td>
                                            <div class="car_full_name">
                                                {{row['car']['car_brand']['name']+' '+row['car']['model']+' '+row['car']['color']}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="table-price"><b>{{row['price']+' руб'}}</b></div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default" (click)="openModal(row, $event)">
                                                Просмотреть
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <app-terminal-modal
                            [wtf]="time"
                            [model]="parking"
                            (order)="setOrdered($event)"
                    ></app-terminal-modal>
                    <div class="text-center">
                        <button type="button" class="btn btn-lg btn-primary" (click)="goToPreviousStep()">Назад</button>
                        <!-- <button type="button" class="btn btn-lg btn-success" (click)="goToStep(4)">Подтвердить заказ</button> -->
                    </div>
                    <br>
                </section>

                <h3>
                    Завершение заказа
                </h3>
                <section>
                    <div class="panel panel-flat" *ngIf="this.orderedModel">
                        <div class="panel-body">
                            <div class="alert alert-success alert-car-ordered">
                                <p>Спасибо за заказ! Перед терминалом Вас ожидает такси <br> <b>{{getCarName()}}</b> <br> Телефон водителя на талоне.</p>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" (click)="reloadPage()">
                                    На страницу заказа
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /vertical form -->

                <!--</div>-->

            </div>
        </div>
    </div>
</form>
<div class="container-fluid" [ngClass]="{'hidden' : totalCount > 0}" [ngClass]="{'hidden' : totalCount > 0}">
    <div class="panel panel-flat">
        <!--             <div class="panel-heading>
            <h3 class="panel-title">
              до города 22 км<a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </h3>
          </div> -->

        <div class="panel-body center-div text-center">
            <div class="alert alert-danger">Извините, нет свободных такси</div>
            <button type="button" class="btn btn-default" (click)="reloadPage()">Обновить страницу</button>
        </div>
    </div>
</div>

<div id="map2" class="map"></div>
