<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" >
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Добавить пользователя<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        </div>

        <div class="panel-body">
            <div [ngClass]="hasError('email')" class="form-group" ng-class='getIsError("email")'>
                <label class="col-lg-3 control-label">Эл.почта:</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" placeholder="" [(ngModel)]="model.email" name="email">
                    <span *ngIf="errors['email']" class="help-block">{{errors['email'][0]}}</span>
                </div>
            </div>

            <div [ngClass]="hasError('username')" class="form-group" ng-class='getIsError("username")'>
                <label class="col-lg-3 control-label">Логин:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="Будет использован для входа" [(ngModel)]="model.username" name="username">
                    <span *ngIf="errors['username']" class="help-block">{{errors['username'][0]}}</span>
                </div>
            </div>

            <div [ngClass]="hasError('password')" class="form-group" ng-class='getIsError("password")'>
                <label class="col-lg-3 control-label">Пароль:</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control" placeholder="Если оставить пустым, пароль будет сгенерирован" [(ngModel)]="model.password" name="password">
                    <span *ngIf="errors['password']" class="help-block">{{errors['password'][0]}}</span>
                </div>
            </div>

			<div [ngClass]="hasError('role')" class="form-group" ng-class='getIsError("role")'>
				<label class="col-lg-3 control-label">Роль:</label>
				<div class="col-lg-9">
					<select name="repeatSelect" id="repeatSelect" class="form-control"  [(ngModel)]="model.role" >
                        <option value="admin" *ngFor="let key of objectKeys(roles)" [value]="key">{{roles[key]}}</option>
					</select>
					<span *ngIf="errors['role']" class="help-block">{{errors['role'][0]}}</span>
				</div>
			</div>

            <div *ngIf="model.role == 'manager' || model.role == 'admin'" [ngClass]="hasError('terminal')" class="form-group">
                <label class="col-lg-3 control-label">Терминал:</label>
                <div class="col-lg-9">
                    <select name="repeatSelect2" id="repeatSelect2" class="form-control"  [(ngModel)]="model.terminal" >
                        <option value=""></option>
                        <option value="1">МВЛ</option>
                        <option value="2">ВВЛ</option>
                    </select>
                    <span *ngIf="errors['terminal']" class="help-block">{{errors['terminal'][0]}}</span>
                </div>
            </div>

            <div [ngClass]="hasError('surname')" class="form-group">
                <label class="col-lg-3 control-label">Фамилия:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" [(ngModel)]="model.surname" name="surname">
                    <span *ngIf="errors['surname']" class="help-block">{{errors['surname'][0]}}</span>
                </div>
            </div>

            <div [ngClass]="hasError('first_name')" class="form-group">
                <label class="col-lg-3 control-label">Имя:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" [(ngModel)]="model.first_name" name="first_name">
                    <span *ngIf="errors['first_name']" class="help-block">{{errors['first_name'][0]}}</span>
                </div>
            </div>

            <div [ngClass]="hasError('patronymic')" class="form-group" ng-class='getIsError("patronymic")'>
                <label class="col-lg-3 control-label">Отчество:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" [(ngModel)]="model.patronymic" name="patronymic">
                    <span *ngIf="errors['patronymic']" class="help-block">{{errors['patronymic'][0]}}</span>
                </div>
            </div>

            <div class="text-left">
                <button type="submit" [ripple] class="btn btn-raised btn-success">Добавить <i class="icon-plus22 position-left"></i></button>
            </div>
        </div>
    </div>
</form>
