<div class="datatable-footer">
  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
        <span *ngIf="pager.pages && pager.pages.length > 1" class="pagination pagination-sm twbs-prev-next pagination">
            <a class="paginate_button previous btn-raised" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)">«
            </a>
            <a 
            *ngFor="let page of pager.pages" 
            [ngClass]="{current:pager.currentPage === page}" 
            class="paginate_button btn-raised"  
            (click)="setPage(page)"
            >
                {{page}}
            </a>
            <a class="paginate_button next btn-raised" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)">»
            </a>
        </span>
  </div>
</div>