<!-- <div class="content-wrapper"> -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h3>Список заказов</h3>
    </div>

    <div class="panel-body">
    </div>

    <div class="dataTables_wrapper no-footer">
        <div class="datatable-scroll">
            <table class="table datatable-show-all dataTable no-footer" role="grid">
                <thead>
                    <tr>
                        <th
                                class=""
                                *ngFor="let col of columns"
                                (click)="setSort(col.name ? col.name : false)"
                                [ngClass]="{
                                    'sorting_asc' : col.name && col.name == sort && desc == false, 
                                    'sorting_desc' : col.name && col.name == sort && desc == true, 
                                    'sorting' : col.name && col.name != sort
                            }"
                        >
                            {{col.descr}}

                        </th>
                    </tr>
                </thead>
                <tbody>

                <tr *ngFor="let row of models">
                    <td>
                        <img [src]="'/api/public/images/cars/'+row['car_id']+'/'+row['car']['image']" width="200px" alt="">
                    </td>
                    <td>
                         <div><b>{{row['car']['car_brand']['name']+' '+row['car']['model']}}</b></div>
                    </td>
                    <td>
                        <div>{{row['car']['brand'] ? row['car']['brand']['name'] : 'Нет'}}</div>
                    </td>
                    <td>
                        <div><button type="button" class="btn btn-primary" [routerLink]="['/order/order_view/'+row['id']]">Просмотреть заказ</button></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pager
            [total]="count"
            [currentPage]="page"
            [pageSize]="10"
            (_setPage)="setPage($event)"
    >

    </pager>

</div>
<!-- </div> -->