<div class="navbar navbar-inverse bg-indigo">
		<div class="navbar-header">
			<a class="navbar-brand" (click)="navBarClick()"><img src="assets/images/logo_light.png" alt=""></a>
			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile" class="legitRipple"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control hidden-xs" (click)="sideBarCollapse()"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" [ripple] data-toggle="dropdown">
						<img src="assets/images/placeholder.jpg" alt="">
						<span>{{user.getUserName()}}</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a (click)="logout()" [ripple]><i class="icon-switch2"></i> Выйти </a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>