<div class="container-fluid">
	<div class="panel panel-default">
	    <div class="panel-body text-center">
	    	<div class="btn-group">
		    	<button type="button" class="btn" [ngClass]="isEditable('town')" (click)="editArea('town')">Город</button>
		    	<button type="button" class="btn" [ngClass]="isEditable('town_center')" (click)="editArea('town_center')">Город(центр)</button>
		    	<button type="button" class="btn" [ngClass]="isEditable('periphery')" (click)="editArea('periphery')">Периферия</button>
		    	<button type="button" class="btn" [ngClass]="isEditable('km_price')" (click)="editArea('km_price')">Цена за км.</button>
		    </div>
	        <div id="map" class="map"></div>
	        <button type="button" class="btn btn-success" (click)="saveAreas()">Сохранить</button>
	    </div>
	</div>
</div>