<div class="panel panel-flat">
  <div class="panel-heading">
    <h3>Активация мобильных приложений</h3>
  </div>

  <div class="panel-body">
  </div>

  <div class="dataTables_wrapper no-footer">
    <div class="datatable-scroll">
      <table class="table datatable-show-all dataTable no-footer" role="grid">
        <thead>
        <tr>
          <th
            class=""
            *ngFor="let col of columns"
            (click)="setSort(col.name)"
            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
          >
            {{col.descr}}

          </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of models">
          <td>
            <div><a [routerLink]="['/driver',row['driver']['id'],'edit']">{{getDriversName(row)}}</a></div>
          </td>
          <td>
            <div>

              <button (click)="toggleBlock(row)" type="button" [ripple] class="btn btn-flat"
                [ngClass]="{
                    'border-warning text-warning-600' : row['status'] == 1,
                    'border-success text-success-600' : row['status'] == 0
                }">{{ row['status'] == 0 ? "Зарегистрировать" : "Заблокировать" }}</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pager
    [total]="count"
    [currentPage]="page"
    [pageSize]="10"
    (_setPage)="setPage($event)"
  >

  </pager>

</div>
