
<div id="profile" class="modal modal-open modal-wrapper" role="dialog">
  <div class="modal-dialog" role="document" *ngIf="model">
    <div class="modal-content">
      <div class="modal-header">
        <div id="car_name">{{model['car']['car_brand']['name']}} {{model['car']['model']}} {{model['car']['number']}}</div><button type="button" class="close close-custom" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-5">
                <div class="info">Информация о водителе</div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <img id="driver_image" [src]="model['driver'] ? model['driver'] .getImagePath() : ''">
                    </div>
                    <div class="col-xs-6 lines">
                        <div class="name">{{model['driver']['surname']}}</div>
                        <div class="name">{{model['driver']['first_name']}}</div>
                        <div class="name">{{model['driver']['patronymic']}}</div>
                        <div id="experience">Стаж за рулем - {{model['driver']['experience']}}</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="book" (click)="modalReviewsText()">Книга отзывов</div>
                    </div>
                    <div class="col-xs-6 stars">
                        <span class="stars-yellow" id="stars-yellow" [innerHtml]="getStars(model['driver']['raiting']) | safeHtml"></span>
                        <span class="stars-white" id="stars-white" [innerHtml]="getWhiteStars(model['driver']['raiting']) | safeHtml"></span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <img id="car_outside_image" [src]="model['car']['image'] ? model['car'].getImagePath() : ''">
                    </div>
                    <div class="col-xs-6">
                        <img id="car_inside_image" [src]="model['car_images'][0] ? model['car_images'][0].getImagePath() : ''">
                    </div>
                </div>
            </div>
            <div class="col-xs-7" style="padding-left: 30px;">
                <div class="info">Информация об автомобиле</div>
                <br>
                <div class="row">
                    <div class="col-xs-6 lines">
                        <div>Класс автомобиля </div>
                        <div>Государственный номер</div>
                        <div>Год выпуска т.с</div>
                        <div>Количество мест </div>
                        <div>Доп.багажник на крыше</div>
                        <div>Наличие детского кресла</div>
                        <div>Оплата банковскими картами</div>
                        <div>Отчетные документы</div>
                    </div>
                    <div class="col-xs-6 lines">
                        <div id="car_class">{{model['car']['car_class'] ? model['car']['car_class']['name'] : 'Не указан'}}</div>
                        <div id="car_number">{{model['car']['number'] ? model['car']['number'] : 'Не указан'}}</div>
                        <div id="car_year">{{model['car']['year'] ? model['car']['year'] : 'Не указан'}}</div>

                        <div id="car_passengers">{{model['car']['number_of_passengers'] ? model['car']['number_of_passengers'] : 'Не указан'}}</div>
                        <div id="car_baggage">{{getYesOrNo(model['car']['external_baggage'])}}</div>
                        <div id="car_baby_chair">{{getYesOrNo(model['car']['baby_chair'])}}</div>
                        <div id="car_bank_card_payment">{{getYesOrNo(model['car']['bank_card_payment'])}}</div>
                        <div id="car_documents">{{getYesOrNo(model['car']['report_documents'])}}</div>
                    </div>
                </div>
                <br>
                <div class="row buttons">
                    <div class="order_button" (click)="orderCar(model)">Заказать ({{model.price}} руб.)</div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_ask" role="dialog" style="top: 30%;" *ngIf="model">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="
            padding: 60px;
        ">
        <p>{{model['driver']['reviews_text'] ? model['driver']['reviews_text'] : "Ничего не найдено"}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="nope" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
