<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" enctype="multipart/form-data" >
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Добавление аукциона<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
    </div>

    <div class="panel-body">

      <div [ngClass]="hasError('address')" class="form-group">
        <label class="col-lg-3 control-label">Адрес:</label>
        <div class="col-lg-9">
          <input id="address" type="text" class="form-control" [(ngModel)]="model.address" name="address">
          <span *ngIf="errors['address']" class="help-block">{{errors['address'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('comment')" class="form-group">
        <label class="col-lg-3 control-label">Комментарий:</label>
        <div class="col-lg-9">
          <input type="textarea" class="form-control" [(ngModel)]="model.comment" name="comment">
          <span *ngIf="errors['comment']" class="help-block">{{errors['comment'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('client_phone_number')" class="form-group">
        <label class="col-lg-3 control-label">Номер телефона клиента:</label>
        <div class="col-lg-9">
          <input type="textarea" class="form-control" [(ngModel)]="model.client_phone_number" name="client_phone_number">
          <span *ngIf="errors['client_phone_number']" class="help-block">{{errors['client_phone_number'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('number_of_passengers')" class="form-group">
        <label class="col-lg-3 control-label">Количество пассажиров:</label>
        <div class="col-lg-9">
          <input
            type="number"
                 onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
            class="form-control" [(ngModel)]="model.number_of_passengers" name="number_of_passengers">
          <span *ngIf="errors['number_of_passengers']" class="help-block">{{errors['number_of_passengers'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('bank_card_payment')" class="form-group">
        <label class="col-lg-3 control-label">Оплата банковской картой:</label>
        <div class="col-lg-9">
          <label for="bank_card_payment"><input type="radio" [value]="0" id="bank_card_payment"  name="bank_card_payment" [(ngModel)]="model.bank_card_payment"> Нет </label>
          <label for="bank_card_payment1"><input type="radio" [value]="1" id="bank_card_payment1" name="bank_card_payment" [(ngModel)]="model.bank_card_payment">  Да </label>
          <span *ngIf="errors['bank_card_payment']" class="help-block">{{errors['bank_card_payment'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('external_baggage')" class="form-group">
        <label class="col-lg-3 control-label">Наличие внешнего багажника:</label>
        <div class="col-lg-9">
          <label for="external_baggage"><input type="radio" [value]="0" id="external_baggage" name="external_baggage" [(ngModel)]="model.external_baggage">  Нет </label>
          <label for="external_baggage1"><input type="radio" [value]="1" id="external_baggage1" name="external_baggage" [(ngModel)]="model.external_baggage">  Да </label>
          <span *ngIf="errors['external_baggage']" class="help-block">{{errors['external_baggage'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('baby_chair')" class="form-group">
        <label class="col-lg-3 control-label">Детское кресло:</label>
        <div class="col-lg-9">
          <label for="baby_chair"><input type="radio" [value]="0" id="baby_chair" name="baby_chair" [(ngModel)]="model.baby_chair">  Нет </label>
          <label for="baby_chair1"><input type="radio" [value]="1" id="baby_chair1" name="baby_chair" [(ngModel)]="model.baby_chair">  Да </label>
          <span *ngIf="errors['baby_chair']" class="help-block">{{errors['baby_chair'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('report_documents')" class="form-group">
        <label class="col-lg-3 control-label">Отчетные документы:</label>
        <div class="col-lg-9">
          <label> <input type="radio" [value]="0" id="report_documents1" name="report_documents" [(ngModel)]="model.report_documents">  Нет </label>
          <label> <input type="radio" [value]="1" id="report_documents2" name="report_documents" [(ngModel)]="model.report_documents">  Да </label>
          <span *ngIf="errors['report_documents']" class="help-block">{{errors['report_documents'][0]}}</span>
        </div>
      </div>

      <div class="text-left">
        <button id="create_button" type="submit" [ripple] class="btn btn-raised btn-success">Начать аукцион <i class="icon-plus22 position-left"></i></button>
      </div>
    </div>
  </div>
</form>
