<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" enctype="multipart/form-data" >
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Редактировать автомобиль водителя<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
    </div>

    <div class="panel-body">
      <div [ngClass]="hasError('car_id')" class="form-group">
        <label class="col-lg-3 control-label">Автомобиль:</label>
        <div class="col-lg-9">
          <select name="repeatSelect" id="repeatSelect" class="form-control"  [(ngModel)]="model.car_id" >
            <option *ngFor="let car of cars" [value]="car['id']">{{car['mark']+' '+car['model']+' '+car['number']}}</option>
          </select>
          <span *ngIf="errors['role']" class="help-block">{{errors['car_id'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('mifare_card_id')" class="form-group">
        <label class="col-lg-3 control-label">Mifare card id:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.mifare_card_id" name="surname">
          <span *ngIf="errors['mifare_card_id']" class="help-block">{{errors['mifare_card_id'][0]}}</span>
        </div>
      </div>

      <div class="text-left">
        <button type="submit" [ripple] class="btn btn-raised btn-success">Сохранить <i class="icon-plus22 position-left"></i></button>
      </div>
    </div>
  </div>
</form>