<div class="panel panel-flat">
    <div class="panel-heading">
        <h3>Список марок автомобилей</h3>
        <button [routerLink]="['new']" [ripple] type="submit" class="btn active btn-success"><i class="icon-plus22 position-left"></i> Добавить </button>
    </div>

    <div class="panel-body">
    </div>

    <div class="dataTables_wrapper no-footer">
        <div class="datatable-scroll">
            <table class="table datatable-show-all dataTable no-footer" role="grid">
                <thead>
                <tr>
                    <th
                            class=""
                            *ngFor="let col of columns"
                            (click)="setSort(col.name)"
                            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
                    >
                        {{col.descr}}

                    </th>
                    <th>
                        Действия
                    </th>
                </tr>
                <!-- <tr>
                    <td></td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="search['surname']" (change)="inputSearch()">
                    </td>
                </tr> -->
                </thead>
                <tbody>

                <tr *ngFor="let row of models">
                    <td>
                        <div>{{row['id']}}</div>
                    </td>
                    <td>
                        <div>{{row['name']}}</div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" [ripple] class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Выбрать <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a [ripple] [routerLink]="['/car_brands/edit/'+row['id']]"><i class="icon-pencil"></i> Редактировать </a>
                                </li>
                                <li>
                                    <a [ripple] (click)="delete(row['id'])"><i class="icon-x"></i> Удалить </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pager
            [total]="count"
            [currentPage]="page"
            [pageSize]="10"
            (_setPage)="setPage($event)"
    >

    </pager>

</div>