<div class="panel panel-flat">
  <div class="panel-heading">
    <h3>Отчеты по смс</h3>
  </div>

  <div class="panel-body">
  </div>

  <div class="dataTables_wrapper no-footer">
    <div class="datatable-scroll">
      <table class="table datatable-show-all dataTable no-footer" role="grid">
        <thead>
        <tr>
          <th
            class=""
            *ngFor="let col of columns"
            (click)="setSort(col.name)"
            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
          >
            {{col.descr}}

          </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of models">
          <td>
            <div>{{row['id']}}</div>
          </td>
          <td>
            <div>{{row['status']}}</div>
          </td>
          <td>
            <div>{{row['message']}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pager
    [total]="count"
    [currentPage]="page"
    [pageSize]="10"
    (_setPage)="setPage($event)"
  >

  </pager>

</div>
