<!-- <div class="content-wrapper"> -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h3>Список водителей</h3>
        <button [routerLink]="['new']" [ripple] type="submit" class="btn active btn-success"><i class="icon-plus22 position-left"></i> Добавить </button>
    </div>

    <div class="panel-body">
            <fieldset class="content-group">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="driver_card_serial_number">Серия и номер в.у.:</label>
                        <input type="email" id="driver_card_serial_number" class="form-control" [(ngModel)]="search['driver_card_serial_number']" (change)="inputSearch()">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="passport_number">Серия и номер паспорта:</label>
                        <input type="email" id="passport_number" class="form-control" [(ngModel)]="search['passport_number']" (change)="inputSearch()">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="mvd_review_data">Данные в проверке мвд:</label>
                        <input type="email" id="mvd_review_data" class="form-control" [(ngModel)]="search['mvd_review_data']" (change)="inputSearch()">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="reviews_text">Жалобы:</label>
                        <input type="email" id="reviews_text" class="form-control" [(ngModel)]="search['reviews_text']" (change)="inputSearch()">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="comment">Комментарий:</label>
                        <input type="email" id="comment" class="form-control" [(ngModel)]="search['comment']" (change)="inputSearch()">
                    </div>
                </div>
                <button type="button" class="btn btn-default" (click)="clearSearch()">
                    Сбросить все фильтры
                </button>
            </fieldset>
    </div>
    <div class="dataTables_wrapper no-footer">
        <div class="datatable-scroll">
            <table class="table datatable-show-all dataTable no-footer" role="grid">
                <thead>
                <tr>
                    <th
                            class=""
                            *ngFor="let col of columns"
                            (click)="setSort(col.name)"
                            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
                    >
                        {{col.descr}}

                    </th>
                    <th>
                        Действия
                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="form-control" [(ngModel)]="search['first_name']" (change)="inputSearch()"></td>
                    <td><input type="text" class="form-control" [(ngModel)]="search['surname']" (change)="inputSearch()"></td>
                    <td><input type="text" class="form-control" [(ngModel)]="search['patronymic']" (change)="inputSearch()"></td>
                    <td><input type="text" class="form-control" [(ngModel)]="search['phone_number']" (change)="inputSearch()"></td>
                    <td><input type="text" class="form-control" [(ngModel)]="search['experience']" (change)="inputSearch()"></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let row of models">
                    <td>
                        <div>{{row['id']}}</div>
                    </td>
                    <td>
                        <div>{{row['first_name']}}</div>
                    </td>
                    <td>
                        <div>{{row['surname']}}</div>
                    </td>
                    <td>
                        <div>{{row['patronymic']}}</div>
                    </td>
                    <td>
                        <div>{{row['phone_number']}}</div>
                    </td>
                    <td>
                        <div>{{row['experience']}}</div>
                    </td>
                    <!-- <td>
                        <div>
                                <button (click)="block(row['id'])" type="button" class="btn btn-default">
                                    <i [ngClass]="{'icon-unlocked2' : row['blocked'], 'icon-lock' : !row['blocked']}"></i>{{row['blocked'] ? 'Разблокировать' : 'Заблокировать'}}
                                </button>
                        </div>
                    </td> -->
                    <td>
                        <div class="btn-group">
                            <button type="button" [ripple] class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Выбрать <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a [ripple] [routerLink]="['/driver/'+row['id']]+'/edit/'"><i class="icon-pencil"></i> Редактировать </a>
                                </li>
                                <li>
                                    <a [ripple] (click)="delete(row['id'])"><i class="icon-x"></i> Удалить </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pager
            [total]="count"
            [currentPage]="page"
            [pageSize]="10"
            (_setPage)="setPage($event)"
    >

    </pager>

</div>
<!-- </div> -->