<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" enctype="multipart/form-data" >
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Редактировать групповой тариф<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        </div>

        <div class="panel-body">

            <div [ngClass]="hasError('type_tariff_use')" class="form-group">
                <label class="col-lg-3 control-label">Использовать тарифы по зонам?</label>
                <div class="col-lg-9">
                    <label>
                        <input type="radio" [(ngModel)]="model.type_tariff_use" name="type_tariff_use" [value]="1" >
                        Да
                    </label>
                    <span *ngIf="errors['type_tariff_use']" class="help-block">{{errors['type_tariff_use'][0]}}</span>
                </div>
            </div>

            <div *ngIf="model.type_tariff_use == 1" class="panel panel-default">
                <div class="panel-heading">
                    Тарифы по зонам
                </div>
                <div class="panel-body">
                    <div [ngClass]="hasError('town_center')" class="form-group">
                        <label class="col-lg-3 control-label">Уфа(центр):</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" [(ngModel)]="model.town_center" name="town_center">
                            <span *ngIf="errors['town_center']" class="help-block">{{errors['town_center'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('town')" class="form-group">
                        <label class="col-lg-3 control-label">Уфа:</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" [(ngModel)]="model.town" name="town">
                            <span *ngIf="errors['town']" class="help-block">{{errors['town'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('periphery')" class="form-group">
                        <label class="col-lg-3 control-label">Периферия:</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" [(ngModel)]="model.periphery" name="periphery">
                            <span *ngIf="errors['periphery']" class="help-block">{{errors['periphery'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('km_price')" class="form-group">
                        <label class="col-lg-3 control-label">Цена за км:</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" [(ngModel)]="model.km_price" name="km_price">
                            <span *ngIf="errors['km_price']" class="help-block">{{errors['km_price'][0]}}</span>
                        </div>
                    </div>


                    <div [ngClass]="hasError('use_custom_tariff')" class="form-group">
                        <label class="col-lg-3 control-label">Использовать единый тариф:</label>
                        <div class="col-lg-9">
                            <input type="radio" [(ngModel)]="model.use_custom_tariff" name="use_custom_tariff" id="use_custom_tariff1" [value]="0" >
                            <label for="use_custom_tariff1">Нет</label>
                            <input type="radio" [(ngModel)]="model.use_custom_tariff" name="use_custom_tariff" id="use_custom_tariff2" [value]="1" >
                            <label for="use_custom_tariff2">Да</label>
                            <span *ngIf="errors['use_custom_tariff']" class="help-block">{{errors['use_custom_tariff'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('custom_tariff')" class="form-group">
                        <label class="col-lg-3 control-label">Единый тариф:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control"  [disabled]="model.use_custom_tariff == 0" [(ngModel)]="model.custom_tariff" name="custom_tariff">
                            <span *ngIf="errors['custom_tariff']" class="help-block">{{errors['custom_tariff'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('comment')" class="form-group">
                        <label class="col-lg-3 control-label">Комментарий</label>
                        <div class="col-lg-9">
                            <textarea type="text" class="form-control" [(ngModel)]="model.comment" name="comment"></textarea>
                            <span *ngIf="errors['comment']" class="help-block">{{errors['comment'][0]}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div [ngClass]="hasError('type_tariff_use')" class="form-group">
                <label class="col-lg-3 control-label">Использовать тарифы по километражу?</label>
                <div class="col-lg-9">
                    <label>
                        <input type="radio" [(ngModel)]="model.type_tariff_use" name="type_tariff_use" [value]="2" >
                        Да
                    </label>
                    <span *ngIf="errors['type_tariff_use']" class="help-block">{{errors['type_tariff_use'][0]}}</span>
                </div>
            </div>

            <div *ngIf="model.type_tariff_use == 2" class="panel panel-default">
                <div class="panel-heading">
                    Тарифы по километражу
                </div>
                <div class="panel-body">
                    <div [ngClass]="hasError('starting_rate')" class="form-group">
                        <label class="col-lg-3 control-label">Стоимость подачи авто:</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" [(ngModel)]="model.starting_rate" name="starting_rate">
                            <span *ngIf="errors['starting_rate']" class="help-block">{{errors['starting_rate'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('town_km_price')" class="form-group">
                        <label class="col-lg-3 control-label">Стоимость поездки в городе :</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" [(ngModel)]="model.town_km_price" name="town_km_price">
                            <span *ngIf="errors['town_km_price']" class="help-block">{{errors['town_km_price'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('countryside_km_price')" class="form-group">
                        <label class="col-lg-3 control-label">Стоимость поездки за городом :</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" [(ngModel)]="model.countryside_km_price" name="countryside_km_price">
                            <span *ngIf="errors['countryside_km_price']" class="help-block">{{errors['countryside_km_price'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('comment_km_price')" class="form-group">
                        <label class="col-lg-3 control-label">Комментарий</label>
                        <div class="col-lg-9">
                            <textarea type="text" class="form-control" [(ngModel)]="model.comment_km_price" name="comment_km_price"></textarea>
                            <span *ngIf="errors['comment_km_price']" class="help-block">{{errors['comment_km_price'][0]}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-left">
                <button type="submit" [ripple] class="btn btn-raised btn-success">Сохранить <i class="icon-plus22 position-left"></i></button>
            </div>
        </div>
    </div>
</form>