<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" enctype="multipart/form-data">
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Редактировать профиль водителя<a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </h5>
    </div>

    <div class="panel-body">
      <div [ngClass]="hasError('image')" class="form-group">
        <label class="col-lg-3 control-label">Фото водителя:</label>
        <div class="col-lg-9">
          <input type="file" class="form-control" name="fileInput" (change)="onFileChange($event)">
          <img style="width:250px" [src]="getImageSource()" id="driver_img" *ngIf="model.image">
          <span *ngIf="errors['image']" class="help-block">{{errors['image'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('surname')" class="form-group">
        <label class="col-lg-3 control-label">Фамилия:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.surname" name="surname">
          <span *ngIf="errors['surname']" class="help-block">{{errors['surname'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('first_name')" class="form-group">
        <label class="col-lg-3 control-label">Имя:</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.first_name" name="first_name">
          <span *ngIf="errors['first_name']" class="help-block">{{errors['first_name'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('patronymic')" class="form-group">
        <label class="col-lg-3 control-label">Отчество</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.patronymic" name="patronymic">
          <span *ngIf="errors['patronymic']" class="help-block">{{errors['patronymic'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('driver_card_serial_number')" class="form-group">
        <label class="col-lg-3 control-label">Серия и номер водительского удостоверения</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.driver_card_serial_number"
                 name="driver_card_serial_number">
          <span *ngIf="errors['driver_card_serial_number']" class="help-block">{{errors['driver_card_serial_number'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('passport_number')" class="form-group">
        <label class="col-lg-3 control-label">Серия и номер паспорта</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.passport_number" name="passport_number">
          <span *ngIf="errors['passport_number']" class="help-block">{{errors['passport_number'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('phone_number')" class="form-group">
        <label class="col-lg-3 control-label">Телефон</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.phone_number" name="phone_number">
          <span *ngIf="errors['phone_number']" class="help-block">{{errors['phone_number'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('experience')" class="form-group">
        <label class="col-lg-3 control-label">Стаж вождения (лет)</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="model.experience" name="experience">
          <span *ngIf="errors['experience']" class="help-block">{{errors['experience'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('mvd_review_data')" class="form-group">
        <label class="col-lg-3 control-label">Данные в проверке мвд</label>
        <div class="col-lg-9">
          <textarea type="text" class="form-control" [(ngModel)]="model.mvd_review_data"
                    name="mvd_review_data"></textarea>
          <span *ngIf="errors['mvd_review_data']" class="help-block">{{errors['mvd_review_data'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('reviews_text')" class="form-group">
        <label class="col-lg-3 control-label">Жалобы</label>
        <div class="col-lg-9">
          <textarea type="text" class="form-control" [(ngModel)]="model.reviews_text" name="reviews_text"></textarea>
          <span *ngIf="errors['reviews_text']" class="help-block">{{errors['reviews_text'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('raiting')" class="form-group">
        <label class="col-lg-3 control-label">Рейтинг</label>
        <div class="col-lg-9">
          <input type="number" class="form-control" [(ngModel)]="model.raiting" name="raiting">
          <span *ngIf="errors['raiting']" class="help-block">{{errors['raiting'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('comment')" class="form-group">
        <label class="col-lg-3 control-label">Комментарий</label>
        <div class="col-lg-9">
          <textarea type="text" class="form-control" [(ngModel)]="model.comment" name="comment"></textarea>
          <span *ngIf="errors['comment']" class="help-block">{{errors['comment'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('entry_to_parking')" class="form-group">
        <label class="col-lg-3 control-label">Ставить на стоянку при вьезде?</label>
        <div class="col-lg-9">
          <select name="entry_to_parking" id="entry_to_parking" class="form-control"
                  [(ngModel)]="model.entry_to_parking">
            <option [value]="0"> Нет</option>
            <option [value]="1"> Да</option>
          </select>
          <span *ngIf="errors['entry_to_parking']" class="help-block">{{errors['entry_to_parking'][0]}}</span>
        </div>
      </div>

      <div [ngClass]="hasError('terminal_countryside_order_priority')" class="form-group">
        <label class="col-lg-3 control-label">Приоритет заказа межгород</label>
        <div class="col-lg-9">
          <input type="number" class="form-control" [(ngModel)]="model.terminal_countryside_order_priority"
                 name="terminal_countryside_order_priority">
          <span *ngIf="errors['terminal_countryside_order_priority']" class="help-block">{{errors['terminal_countryside_order_priority'][0]}}</span>
        </div>
      </div>

      <div *ngIf="succeed == true">
        <div class="alert alert-success">
          Данные сохранены
        </div>
      </div>

      <div *ngIf="succeed == false">
        <div class="alert alert-danger">
          Не удалось сохранить данные, проверьте правильность введенной формы
        </div>
      </div>

      <div class="text-left">
        <button type="submit" [ripple] class="btn btn-raised btn-success">Сохранить <i
          class="icon-plus22 position-left"></i></button>
      </div>
    </div>
  </div>
</form>
